@import "global-style.css";

#login-container {
    /* Center div horizontally and vertically */
    margin: auto;
    position: absolute;
    right: 0; left: 0;
    top: 0; bottom: 0;


    height: 600px;
    width: 500px;
    padding: 10px;

    background-color: rgba(0,0,0,0.2);
}

#login-heading {
    color: rgb(244,244,244);
}
#login-form {
    
}
    #login-form input {
        margin: 5px auto;
        width: 90%;
        border-radius: 8px;
        padding: 3px;
        font-size: 1.2em;
    }
    #login-form input[type="text"], #login-form input[type="password"] {
        
    }