@import "global-style.css";

#login-container {
    /* Center div horizontally and vertically */
    margin: auto;
    position: absolute;
    right: 0; left: 0;
    top: 0; bottom: 0;


    height: 200px;
    width: 400px;

    background-color: rgba(64,64,64,0.6);
}

#login-form {
    padding: 10px;
}
    #login-form input {
        margin: 5px 0;
    }